@include media-xs {
    .home {
        padding-top: 20vh;
    }

    .home > h2 {
        font-size: 1rem;
    }

    .home__name, .home__name--last {
        font-size: 2rem;
    }

    .footer-flex {
        display: flex;
        flex-direction: column;
        // margin-top: 2rem;
    }

    .social-icons{
        display: flex;
        scale: 50%;
        flex-direction: row;
        margin-left: -0.75rem;
        margin-bottom: 1rem;
    }

    .contact {
        h2 {
            margin-left: 10vw;
        }

        &__list {
            font-size: 1.25rem;
        }
    }
}

@include media-sm {
    .home {
        font-size: 0.75rem;
    }

    .home__name, .home__name--last {
        font-size: 3rem;
    }

    .social-icons{
        scale: 80%;
    }

    .contact {
        h2 {
            margin-left: 10vw;
        }

        &__list {
            font-size: 1.25rem;
        }
    }
}

@include media-md {
    .menu-btn {
        visibility: hidden;
    }

    .nav {
        visibility: visible;

        .menu-nav {
            margin-top: 2rem;
            display: block;
            transform: translateY(0);
            height: 100%;
            background: transparent;
            text-align: right;

            &__item {
                display: inline;
                padding-right: 1.5rem;
            }

            &__link {
                font-size: 1.5rem;
            }
        }
    }

    .about__bio {
        font-size: 1.5rem;
    }

    .projects {
        &__bio-image {
            height: 40vh;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }
        .text-secondary {
            font-size: 3rem;
        }
    }

    .contact__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@include media-lg {
    .projects {
        &__items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    .contact__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .projects__bio-image {
        height: 65vh;
    }

}

@include media-xl {
    .projects__bio-image {
        height: 90vh;
    }
}